.BookingView {
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 40px;
}

.BookingForm {
    display: flex;
    flex-direction: column;
}

.FormElement {
    margin-top: 10px;
    margin-bottom: 10px;
}

.InputField {
    width: 96%;
    padding: 5px;
}

.FormButton {
    margin-top: 20px;
}

.CabinName {
    margin-left: 0px;
    font-size:x-large;
    border-radius: 8px;
    padding: 30px;
    background-color: #404c24;
    text-align: left;
    color: whitesmoke;
}