.BookingView {
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 40px;
}

.BookingForm {
    display: flex;
    flex-direction: column;
}

.FormElement {
    margin-bottom: 20px;
}

.FormButton {
    padding: 10px;
    background-color: #ad8258;
    color: whitesmoke;
    border-style: none;
    font-size: medium;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 40px;
}

.FormButton:active {
    background-color: #ac6a26;
    cursor: pointer;
}

.FormButton:hover {
    background-color: #ac6a26;
    cursor: pointer;
}

.CabinName {
    margin-left: 0px;
    font-size:x-large;
    border-radius: 8px;
    padding: 30px;
    background-color: #404c24;
    text-align: left;
    color: whitesmoke;
}