.BookingsLink {
    border-radius: 20px;
    padding: 10px;
    background-color: #404c24;
    margin-bottom: 20px;
    text-align: left;
    text-indent: 20px;
    color: whitesmoke;
}

.Text {
    text-align: left;
}

.BookingsLink:active {
    opacity: 80%;
    cursor: pointer;
}

.BookingsLink:hover {
    opacity: 80%;
    cursor: pointer;
}