.CabinListItem {
    border-radius: 20px;
    padding: 10px;
    background-color: #404c24;
    /*background-color: #7AAB8D;*/
    margin-bottom: 20px;
    text-align: left;
    text-indent: 20px;
    color: whitesmoke;
}

.CabinListItem:active {
    background-color: #5d644c;
    cursor: pointer;
}

.CabinListItem:hover {
    background-color: #5d644c;
    cursor: pointer;
}

