.StartPage {
    padding-left: 20px;
    padding-right: 20px;
}

.Title {
    padding-top: 40px;
    padding-bottom: 20px;
}

.ListTitle {
    text-align: left;
}

.CabinList {
    list-style-type: none;
    padding: 0;
}

.ListTable {
    border-radius: 20px;
    background-color: #b4b69c;
    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
}